<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!--
			Set language for Application;
			All language IDs can be found here: https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-lcid/a9eac961-e77d-41a6-90a5-ce1a8b0cdb9c?redirectedfrom=MSDN
			(If the set language is not yet implemented or does not exist, it will default to "en-US")
			Example: "en-US" for English (US), "de-DE" for German (Germany)
		-->
		<add key="language" value="en-US" />

		<!--
			Wether to show files beginning with a dot;
			values: "true", "false"
			Example: .gitignore
		-->
		<add key="showDotFiles" value="true" />

		<!--
			Wether to show folders beginning with a dot;
			values: "true", "false"
			Example: .git/
		-->
		<add key="showDotFolders" value="false" />

		<!--
			Set one or more fonts here separated by commas;
			Example: JetBrains Mono, FiraCode, ComicSans MS
			Default: monospace
		-->
		<add key="fontFamily" value="" />

		<!-- Set font size -->
		<add key="fontSize" value="14" />
	</appSettings>
</configuration>
